{% extends "base.html" %}
{% load static %}

{% block title %}Resources List{% endblock title %}


{% block scripts %}
<script>window.data="{{ origin | safe }}"</script>
<script src="{% static "scripts/filterMarkers.js" %}" defer></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="{% static "styles/objects/resourceList.css" %}">

{% endblock styles %}

{% block content %}
{{origin}}
<h1>Resources list</h1>
<section id="filterSection">
    <label for="filter">Filter: </label>
    <select name="filter" id="resourceFilter">
        <option value="false" selected>All</option>
        <option value="true">Markers</option>
    </select>
</section>

<section id="list">
    {% for resource in resources %}
    <a href="{% url "objects:details" resource.id %}" 
        data-id="{{resource.id}}">

        <article>
            <h2>{{resource.name}}</h2>
            <img src="{{resource.img.url}}" alt="Imaxen de {{resource.name}}">
        </article>
    </a>
    
    {% endfor %}
</section>


<a  href="{% url "objects:forms:create" %}">
    <button id="adder">Add new resource</button>
</a>

{% endblock content %}