{% extends "base.html" %}
{% load static %}


{% block title %}Details{% endblock title %}



{% block styles %}
<link rel="stylesheet" href="{% static "styles/objects/resourceDetails.css" %}">

{% endblock styles %}


{% block content %}

<a href="{% url "objects:list" %}"><button id="back">&#129044;</button></a>

<h1>{{resource.name}}</h1>

<img src="{{resource.img.url}}" alt="Imaxen de {{resource.name}}">

<section id="messureSection">
    <span>Units: </span> 
    {% if resource.messure == 0 %}
        {{messure.0}}
    {% else %}
        {{messure.1}}
    {% endif %}
</section>

<form method='POST' action="{% url "objects:process_marker" %}">
    {% csrf_token %}
    <input type="number" name='id' hidden=true value={{resource.id}}>
    {% if marked %}
        <input type="submit" value="Remove of markers">
    {% else %}
        <input type="submit" value="Add to markers">
    {% endif %}
</form>

<div id="modifiers">
    <a href="{% url "objects:forms:update" resource.id %}"><button>Modify</button></a>
    
    <a href="{% url "objects:forms:delete" resource.id %}"><button>Delete</button></a>
</div>
    
<br>

<a href="{% url "objects:recipe" resource.id%}"><button>
    Recipes
</button></a>
{% endblock content %}