{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href={% static "styles/details.css" %}>
{% endblock styles %}



{% block title %}Details{% endblock title %}

{% block content %}

<h1>{{post.title}}</h1>
<h3>{{post.slug}}</h3>
{% if post.author %}
    <h2>Author</h2>
    <a href="mailto:{{post.author.e_mail}}">{{post.author.first_name}} {{post.author.last_name}}</a>

{% else %}
    <h2>No author</h2>
{% endif %}

<img src={{post.image.url}} alt="{{post.title}}">
<span>{{post.date | date:"SHORT_DATE_FORMAT"}}</span>
<span>{{post.excerpt}}</span>

<p>{{post.content | linebreaks}}</p>
<h2>Tags</h2>
{% for tag in tags %} 

    <li>{{tag.caption}}</li>

{% endfor %} 
<form action="{% url "read_later" %}" method="post">
    {% csrf_token %}
    <input type="text" hidden value="{{post.id}}" name="post_id">
    {% if is_saved %}
    <input type="submit" value="Remove from read later">
    {% else %}
    <input type="submit" value="Add to read later">
    {% endif %}
</form>
<h2>Comments</h2>
{% for comment in comments %}
<p>{{comment.text}}</p>
<span>{{comment.user_name}}|{{comment.user_email}}</span>
{% endfor %}

<form action="{% url "details_post" post.slug %}" method="post">
    {% csrf_token %}
    {{comment_form}}
    <button>Create comment</button>
</form>



<a href="{% url "post_home" %}">HOME</a>

{% endblock content %}