{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href={% static "styles/home.css" %}>
{% endblock styles %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
<h1>Posts</h1>

<img src="{% static "media/home.png" %}" alt="Imagen de django">

<section>
    <a href="{% url "all_posts" %}">
        <button>View all blogs</button>
    </a>
    {% for post in posts  %}
        {% include "includes/posts_show.html" %}
    {% endfor %}
</section>


{% endblock content %}