@import "../basics/header.css";
@import "../basics/forms.css";

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

main {
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

form {
	min-height: 60%;
	min-width: 35%;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1%;
	align-items: center;
	background-color: var(--dark-grey);
	border: 3px solid var(--orange);
	border-radius: 20px;
}

.form-control {
	font-size: x-large;
	margin-top: 5%;
}

select {
	width: 8vw;
	height: 3vh;
}

input[type="text"] {
	height: 3vh;
}

#submit {
	margin-top: 8%;
	width: 8vw;
	height: 4vh;
	background-color: var(--grey);
	border: 3px solid var(--orange);
	border-radius: 10px;
}

#submit:hover {
	width: calc(8vw + 1vw);
	height: calc(4vh + 1vh);
}

hr {
	width: 100%;
}
