.oculto {
	display: none;
}
#main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	min-width: 60vw;
}
section {
	margin: 10px;
	border: 3px solid black;
	background-color: #4da7e8;
	border-radius: 15px;
	padding: 15px;
}
section img {
	filter: drop-shadow(15px 20px 15px #ff01dd);
}

html,
body {
	min-height: 99vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
body {
	background-color: rgb(254, 255, 252);
}
.container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 90vh;
	min-width: 400px;
}
span {
	font-size: xx-large;
	color: slateblue;
}
#total {
	background-color: wheat;
}
label {
	font-size: larger;
}
form {
	font-size: large;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}
form select {
	text-align: center;
	background-color: antiquewhite;
	width: 6vw;
	height: 3vh;
	border-radius: 15px;
	margin: 6px;
}
form button {
	background-color: antiquewhite;
	width: 2vw;
	height: 3vh;
	border-radius: 15px;
	margin: 6px;
}
form select:hover,
form button:hover {
	background-color: #4da7e8;
}
