@import "../basics/header.css";
@import "../basics/main.css";
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

h1 {
	margin-bottom: 2%;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 90vh;
}
main section#list {
	margin-top: 2%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 25px;
	height: 70%;
}
section#list > a {
	color: inherit;
	width: 20vw;
	min-height: 20vh;
}
select {
	width: 30%;
	height: 120%;
}
.oculto {
	display: none;
}

article {
	background-color: var(--dark-grey);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 3px solid var(--orange);
	border-radius: 20px;
}

.adder {
	justify-self: flex-end;
}

section#filterSection {
	width: 15%;
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 5%;
}
