{% extends "bootstrap/main.html" %}
{% load static %}
{% block content%}
    
        <h1>Blogs</h1>
        <p>Sergio has written {{blogs.count}} blog{{blogs.count|pluralize}}.</p>
        <img src={% static "img/morty.png" %} alt="morty">
        {% for blog in blogs %}
        <section id='{{blog.id}}'>
            <h5>{{blog}}</h5>
            <p style='color: darkgray;	font-size: xx-small;'>{{blog.fecha|date:'F jS Y'}}</p>
            <p>{{blog.description|safe}}</p>
        </section>    
        {% endfor %}
    
{%endblock%}