@import "./colors.css";
@import "./main.css";

.error {
	color: red;
}

#back {
	width: 8vw;
	height: 4vh;
	background-color: var(--orange);
	color: white;
	border: 2px solid var(--dark-grey);
	border-radius: 10px;
	opacity: 80%;
}
#back:hover {
	width: 9vw;
	height: 5vh;
	opacity: 100%;
}
