* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	min-height: 100vh;
	color: white;
	background-color: var(--grey);
}

h1 {
	color: var(--orange);
}

a {
	color: inherit;
	text-decoration: none;
	color: white;
	text-decoration: none;
}
a:hover {
	color: var(--orange);
}
.oculto {
	display: none;
}

#back {
	width: 8vw;
	height: 4vh;
	background-color: var(--orange);
	color: white;
	border: 2px solid var(--dark-grey);
	border-radius: 10px;
	opacity: 80%;
}
#back:hover {
	width: 9vw;
	height: 5vh;
	opacity: 100%;
}
