{% extends "base.html" %}
{% load static %}

{% block title %}Resources List{% endblock title %}


{% block content %}

<h1>Resources list</h1>

<section>
    {% for resource in resources %}
    <a href="{% url "objects:details" resource.id %}">

        <article>
            <h2>{{resource.name}}</h2>
            <img src="{{resource.img.url}}" alt="Imaxen de {{resource.name}}">
            {% if resource.id in markers %}
            <p>Marker: true</p>
            {% else %}
            <p>Marker: false</p>
            {% endif %}
        </article>
    </a>
    
    {% endfor %}
</section>

{% endblock content %}