@import "../basics/header.css";
@import "../basics/main.css";

.result {
	background-color: var(--orange);
	color: black;
	border: 2px solid var(--dark-grey);
	border-radius: 20px;
	padding: 3px;
	min-width: 5vw;
	min-height: 5vh;
	align-content: center;
	justify-content: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

main {
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 5vh;
}
form {
	margin-top: 2vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1vw;
	width: 25vw;
	select {
		height: 3vh;
		width: 35%;
	}
	input {
		width: 10vw;
		height: 3vh;
	}
}
#playground {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	gap: 3vw;
}

article {
	background-color: var(--dark-grey);
	border: 3px solid var(--orange);
	border-radius: 20px;
	width: 15vw;
	height: 35vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 10%;
	padding: 3vh;
	button {
		width: 8%;
		height: 8%;
	}
}
