{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "styles/forms/createResource.css" %}">

{% endblock styles %}
{% block title %}Forms{% endblock title %}

{% block content %}
    <form method="POST" action="/forms/add/" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-control{% if field.errors %} error{% endif %}">
                {{field.label}}:
            </div>
                {{field}}
                {{field.errors}}
        {% endfor %}

        <input type="submit" value="Send data">
    </form>
{% endblock content %}