{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "styles/forms/form.css" %}">

{% endblock styles %}
{% block title %}Forms{% endblock title %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Are you sure to delete </p>
        <h1>{{resource.name}}</h1>

        <img src="{{resource.img.url}}" alt="Imaxen de {{resource.name}}">

        
        <input id="submit" type="submit" value="Confirm">
    </form>
    <a  href="{% url "objects:details" object.id %}"><button id="back">Back</button></a>
{% endblock content %}