{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "styles/forms/form.css" %}">

{% endblock styles %}
{% block title %}Recipe{% endblock title %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-control{% if field.errors %} error{% endif %}">
                {{field.label}}:
            </div>
                {{field}}
                {{field.errors}}
        {% endfor %}

        <input id="submit" type="submit" value="Send data">
    </form>
    <a  href="{% url "objects:details" resource.id %}"><button id="back">Back</button></a>
{% endblock content %}